*{
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.registration{
    position: absolute;
    top: 8vh;
    width: 100%;
    height:92vh;
    display: flex;
    flex-direction: row;
    color: #fff;
   
}
.registration-left{
    width: 60%;

    background-color: rgb(1, 0, 1);
  
}
.registration-right{
    width: 40%;
  
    background-color: rgb(255, 214, 1);
}
.registration-image{
    height: 110px;
    width: 110px;
 

}

.registration-image-container{
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 3%;
}
.registration-heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0% 5%;
}
.registration-heading-part1{
    font-size: 24px;
}
.registration-heading-part2{
    margin-bottom: 0px;
    font-size: 17px;
}
.registration-formfields{
    width: 50%;

    }

    .registration-form{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin: 5vh 0vh;
    
    }
    .registrationform-part1,.registrationform-part2{
        display: flex;
        flex-direction: row;
        gap: 6%;
        padding: 0% 5%;
       
    }
    .name,.mobile,.email{
        margin-top:8px;
        font-size: 16px;
    }
    .gender{
        font-size: 16px;
    }
    .registration-line{
        width: 90%;
        height: 1px;
        background-color: rgb(255, 214, 1);
        margin-bottom: 2vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
    }
    .lower-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0% 5%;
    }
    .registration-checkbox{
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     
    }

    .registration-button{
        display: flex;
        gap: 10px;
        
      }
  
    .button1{
        color: #000;
        width: 70px;
        border: 0cm;
        height:38px;
        border-radius: 10px;
        color:#000 ;
        font-size: 16px;
        background-color: rgb(255, 214, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .css-6hp17o-MuiList-root-MuiMenu-list {
        background-color: #000;
        border:1px solid #fff;
    }
    .button2{
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 0px;
        color: #000;
        width: 220px;
        border: 0cm;
        height:38px;
        border-radius: 10px;
        font-size: 18px;
        color: rgb(255, 214, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuitem{
        color:#fff;
        background-color: #000;
        margin-bottom: 0%;
    }
 
    .gender-selector{
        border: 1px solid white;
        color: #fff;
        width: 50%;
    }
    @media (max-width:1310px) {
        .lower-section{
            flex-direction: column;
        }
        .button2{
            margin-top: 6px;
        }
        .registration-button{
            margin-top: 2px;
        }
    }
@media (max-width:1000px) {
    .registration-left{
        width: 65%;
    }
    .registration-right{
        width: 35%;
    }
}
@media (max-width:860px) {
.registration-checkbox{
    display: flex;
    flex-direction: column;
}
}
@media (max-width:550px) {
 .registration{
    display: block;

 }
 .registration-left{
height: 970px;
width: 100%;
 }
 .registration-right{
    height: 500px;
    width: 100%;
    position: relative;
   
 }
 .registration-formfields{
    width: 100%;
    }
    .registrationform-part1,.registrationform-part2{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    }