@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 


/* navbar style start  */

.main-nav {
  background-color: white;
  z-index: 9;
 width: 100%;
  height: 10vh;
  display: grid;
  position: fixed;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  background-color: rgb(1, 0, 1);
  border-bottom: 1px solid rgb(255, 214, 1);

}

.logo {
  height: 10vh;
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}
.logopic{
    width: 70px;
    height: 60px;
    margin-left: 5rem;
}
.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
    padding: 0 8rem;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-home{
    grid-column: 4/5;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    font-size: large;
   margin-top: 5px;
}
.login-home-button{
   height: 35px;
  width: 120px;
  border: 0cm;
 background-color: rgb(255, 214, 1);
  border-radius: 10px;

}

/* ----------- Grid part ends ----------------- */




.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgb(255, 214, 1);
  transition: 0.5s;
  text-decoration: none;
}
.menu-link ul li:hover > a {
  transform-origin: left;
   transition: 0.5s;
   text-decoration: underline;
}
.hamburger-menu {
  display: none;
}

/*sider*/

.slider-menu{

  top: 0;
  position: fixed;
  right: 0cm;
  top: 0cm;
  z-index: 998476;
  display: none;
  flex-direction: column;
  background-color: rgb(1, 0, 1);
 height: 100vh;
 align-items: center;
 box-shadow: 0 0 5px  rgb(255, 214, 1);
width: 50%;
 transition: .85s;
}
.side-logopic{
  width:100px;
  height: 100px;

  margin-right:2rem;
}
.imcross{
  font-size: 16px;
  padding-left: 1rem;
  margin-right: 2rem;
}
.slider-part1{
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 5vh;
}
.slider-part2{
  width: 100%;
  
}
.slider-part2 ul{
  display: flex;
  height: 70vh;
  font-size: 18px;
  flex-direction: column;
  justify-items: baseline;
  padding-left: 0%;
 
}
.sidebarlines,.sidebarlines1{
  height: 1px;
  width: 95%;
  background-color: rgb(255, 214, 1);
  left: 0;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
}
.slider-part2 ul li{
  padding: 2.5rem 0rem;
  left: 0;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
}
.slider-part2 ul li a{
  color: rgb(255, 214, 1);
  text-decoration: none;
}

.slider-part3{
  height: 15vh;
  
}
.slider-button{
  
width: 120px;
 height: 35px;
 border-radius: 10PX;
 border: none;
 color: rgb(1, 0, 1);
 background-color: rgb(255, 214, 1);
 font-size: 17PX;
 padding-bottom: 1rem;
padding-top: .6rem;
}
.slider-part2 ul li:hover{
  font-weight: bolder;
}
.icon-button1{
  border: none;
  background-color: rgb(1, 0, 1);
  color: rgb(255, 214, 1);
}
.icon-button2{
  border: none;
  background-color: rgb(1, 0, 1);
  color: rgb(255, 214, 1);
}
/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 10vh;
    grid-template-columns: 2rem 1fr 3fr 1fr 4rem;
  }

  .logo,
  .menu-link ul,.login-home
   {
    height: 10vh;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 10vh;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link,.login-home {
    display: none;
  }

  .logo
  {
    height: 10vh;
  }
  .logopic{
    margin-left: 0%;
  }
  .login-home-button{
    grid-column: 3/8;
    z-index: 99;
    display: grid;
  }
  
.hamburger-menu {
    display: grid;
    font-size: 2.5rem;
    grid-column: 4/5;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;

  }
  
.slider-menu{

  top: 0;
  position: fixed;
  right: 0cm;
  top: 0cm;
  z-index: 998476;
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 0, 1);
 height: 100vh;
 align-items: center;
 box-shadow: 0 0 5px  rgb(255, 214, 1);
width: 50%;
 transition: .85s;
}
}

