*{
    margin: 0;
    padding: 0;
    
}
.dreamcar{
    position: absolute;
    top: 8vh;
    width: 100%;
    height:92vh;
    display: flex;
    flex-direction: row;
    color: #fff;
   
}
.dreamcar-left{
    width: 60%;
    background-color: rgb(1, 0, 1);
 
}
.dreamcar-right{
    width: 40%;
    background-color: rgb(255, 214, 1);
   
}
.dreamcar-image{
    height: 110px;
    width: 110px;
   
}

.dreamcar-image-container{
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 3%;
}
.dreamcar-heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    padding: 0% 5%;
}
.dreamcar-heading-part1{
    font-size: 24px;
}
.dreamcar-heading-part2{
    margin-bottom: 0px;
    font-size: 17px;
}
.dreamcar-formfields{
    width: 50%;
    
    }
    .dreamcar-form{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin: 5vh 0vh;
    
    }
    .dreamcarform-part1{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0% 5%;
        align-items: center;
    }
    .dreamcarform-part2{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0% 5%;
        align-items: center;
    }
    .dreamcarform-part3{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0% 5%;
        align-items: center;
    }
    .dreamcar-line{
        width: 90%;
        height: 1px;
        background-color: rgb(255, 214, 1);
        margin-bottom: 2vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .dreamcar-button{
        display: flex;
        justify-content: flex-end;
       padding: 0% 5%;
       }
    .button3{
        color: #000;
        width: 70px;
        border: 0cm;
        height:38px;
        border-radius: 10px;
        color:#000 ;
        font-size: 16px;
        background-color: rgb(255, 214, 1);
        display: flex;
        align-items: center;
        
        justify-content: center;
    }
    .field1,.field2,.field3,.field4,.field5,.field6{
        margin-top: 6px;
        font-size: 16px;
    }
    @media (max-width:1000px) {
        .dreamcar-left{
            width: 65%;
        }
        .dreamcar-right{
            width: 35%;
        }
    }
    @media (max-width:860px) {
    .dreamcar-checkbox{
        display: flex;
        flex-direction: column;
    }
    }
    @media (max-width:550px) {
     .dreamcar{
        display: block;
    
     }
     .dreamcar-left{
    height: 900px;
    width: 100%;
     }
     .dreamcar-right{
        height: 500px;
        width: 100%;
        position: relative;
       
     }
     .dreamcar-formfields{
        width: 100%;
        }
        .dreamcarform-part{
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        }