*{
    margin: 0;
    padding: 0;
    
}
.dreamhome{
    position: absolute;
    top: 10vh;
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: row;
    color: #fff;
   
}
.dreamhome-left{
    width: 60%;
    background-color: rgb(1, 0, 1);
   
}
.dreamhome-right{
    width: 40%;
    background-color: rgb(255, 214, 1);
  
}


.dreamhome-heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    padding: 0% 5%;
    padding-top: 5%;
}
.dreamhome-heading-part1{
    font-size: 24px;
}
.dreamhome-heading-part2{
    margin-bottom: 0px;
    font-size: 17px;
}
.dreamhome-formfields{
    width: 50%;
    }
    .dreamhome-form{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin: 5vh 0vh;
    
    }
    .dreamhomeform-part1{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0% 5%;
        align-items: center;
    }
    .dreamhomeform-part2{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0% 5%;
        align-items: center;
    }
    .dreamhomeform-part3{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0% 5%;
        align-items: center;
    }
    .dreamhome-line{
        width: 90%;
        height: 1px;
        background-color: rgb(255, 214, 1);
        margin-bottom: 2vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .dreamhome-button{
        display: flex;
        justify-content: flex-end;
       padding: 0% 5%;
       }
    .button3{
        color: #000;
        width: 70px;
        border: 0cm;
        height:38px;
        border-radius: 10px;
        color:#000 ;
        font-size: 16px;
        background-color: rgb(255, 214, 1);
        display: flex;
        align-items: center;
        
        justify-content: center;
    }
    .field1,.field2,.field3,.field4,.field5,.field6{
        margin-top: 6px;
        font-size: 16px;
    }
    @media (max-width:1000px) {
        .dreamhome-left{
            width: 65%;
        }
        .dreamhome-right{
            width: 35%;
        }
    }
    @media (max-width:860px) {
    .dreamhome-checkbox{
        display: flex;
        flex-direction: column;
    }
    }
    @media (max-width:550px) {
     .dreamhome{
        display: block;
    
     }
     .dreamhome-left{
    height: 900px;
    width: 100%;
     }
     .dreamhome-right{
        height: 500px;
        width: 100%;
        position: relative;
       
     }
     .dreamhome-formfields{
        width: 100%;
        }
        .dreamhomeform-part{
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        }