*{
    margin: 0;
    padding: 0;
    
}
.account{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    color: #fff;
   
}
.account-left{
    width: 60%;
    background-color: rgb(1, 0, 1);
   height: 100vh;
}
.account-right{
    width: 40%;
    background-color: rgb(255, 214, 1);
    height: 100vh;
}
.account-image{
    height: 110px;
    width: 110px;
   
}
.account-image-container{
    padding-top: 7%;
    padding-left: 5%;
    padding-bottom: 3%;
}
.account-heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0% 5%;
}
.textfield-label{
    color: white !important;
   
}
.account-formfields{
width: 50%;

}

.date-of-birth{
    color: #fff;
}
.button-container{
  background-color: #fff;
    width: 50%;
    border: 1px solid  white;
    border-radius: 3px ;
    align-items: center;
    display: flex;
}
.date-button{
  
  
    padding-left: 10px;
    font-size: 16px;    
}
.account-form{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 7vh 0vh;

}
.accountform-part1,.accountform-part2{
    display: flex;
    flex-direction: row;
    gap: 6%;
    padding: 0% 5%;
}
.account-line{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 90%;
    background-color: rgb(255, 214, 1);
    margin-bottom: 2vh;
}
.account-button{
    display: flex;
   padding: 0% 5%;
    justify-content: flex-end;
  
   
}
.button{
    color: #000;
    width: 70px;
    border: 0cm;
    height:38px;
    border-radius: 10px;
    color:#000 ;
    font-size: 16px;
    background-color: rgb(255, 214, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inflation,.retirement,.expenses{
    margin-top: 6px;
}
@media (max-width:1430px) {
    .account-left{
        height: 850px;
    }
    .account-right{
        height: 850px;
    }
   }
   @media (max-width:1380px) {
    .account-left{
        height: 900px;
    }
    .account-right{
        height: 900px;
    }
   }

   @media (max-width:1080px) {
    .account-left{
        height: 930px;
    }
    .account-right{
        height: 930px;
    }
   }
@media (max-width:1000px) {

    .account-left{
        width: 65%;
        
    }
    .account-right{
        width: 35%;
        
    }
}
@media (max-width:880px) {
    .account-left{
        height: 960px;
    }
    .account-right{
        height: 960px;
    }
   }
   @media (max-width:740px) {
    .account-left{
        height: 990px;
    }
    .account-right{
        height: 990px;
    }
   }
   @media (max-width:670px) {
    .account-left{
        height: 1050px;
    }
    .account-right{
        height: 1050px;
    }
   }
   @media (max-width:640px) {
    .account-left{
        height: 1100px;
    }
    .account-right{
        height: 1100px;
    }
   }
@media (max-width:550px) {
    .account{
       display: block;
   
    }
    .account-left{
   height: auto;
   width: 100%;
    }
    .account-right{
       height: 500px;
       width: 100%;
       position: relative;
     
    }
    .account-formfields{
        width: 100%;
        }
        .accountform-part1,.accountform-part2{
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
       }
       @media (max-width:400px) {
        .account-left{
            height: 1100px;
        }
       }      
    