.span1{
    color: rgb(255, 215, 0); 
    font-weight: bold;
    padding: 0px 5px;
}
.span2{
color: rgb(255, 215, 0); 
font-weight: bold;   
padding: 0px 5px;
}

.span4{
    cursor: pointer;
     color: rgb(255, 215, 0); 
     font-weight: bold;
     padding: 0px 5px;
}
p{
margin-top: 0%;
margin-bottom: 1rem;
text-align: justify;
}

.model-content{

width: 100%;
color: #fff;
padding: 0% 5%;
border-radius: 10px;
display: flex;
flex-direction: column;
}
.back{
    color: rgb(255, 215, 0); 
    font-weight: bold;
  
    font-size: 18px;
}
